<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="icon" type="image/jpg" href="static/images/Logo.png">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/styles/AboutScreenStyle.css">
</head>

<body>
    <div class="header">
        <nav>
            <img src="static/images/Logo.png" alt="LogoWhite">
            <h1> iBills </h1>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a class="active" href="/AboutScreen">About</a></li>
                <li><a href="/ServicesScreen">Services</a></li>
                <li><a href="/ContactsScreen">Contact</a></li>
            </ul>
        </nav>
        
        <div class="content">
            <p>Our Team</p>
            <p1>CS31S1 Students</p1>
            <br>
            <p2>With iBills, you can pay and secure your bills in one place! 
                <br>Everything's online. No need to queue in lines or go outside the house!
                <br> Manage your bills conveniently.</p2>
        </div>

        <div class="content">
            <div class="img1">
                <img src="static/images/blake.png">
                <p11>Grandon Vicente</p11>
                <p12>Project Lead & Back End</p12>
                <p13>Programmer</p13>
            </div>

            <div class="img2">
            <img src="static/images/lance.png">
                <p21>Lance Candelaria</p21>
                <p22>Designer & Front End</p22>
                <p23>Programmer</p23>
            </div>

            <div class="img3">
                <img src="static/images/danilo.png">
                <p31>Danilo Madrigal</p31>
                <p32>Front End Programmer</p32>
            </div>
            
            <div class="img4">
                <img src="static/images/redd.png">
                <p41>Redd Gacer</p41>
                <p42>Front End Programmer</p42>
            </div>

            <div class="img5">
                <img src="static/images/paano.png">
                <p51>Christian Paaño</p51>
                <p52>Front End Programmer</p52>
            </div>

            <div class="img6">
                <img src="static/images/about-vector.png">
            </div>
        </div>
    </div>
</body>