<head>
	<title>Account Successfully Created</title>
	<link rel="icon" type="image/jpg" href="static/images/Logo.png">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=poppins" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="static/styles/AccountSuccessfullyCreatedScreenStyle.css">
</head>
<body>
	<div class="content">
		<img src="static/images/AccountSuccessfullyCreatedScreenImage.png">
		<h1>Account</h1>
		<h2>Successfully</h2>
		<h3>Created</h3>
		<a type="button" href="/SignInScreen"><b>Proceed to Sign In</b></a>
	</div>
</body>