<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="icon" type="image/jpg" href="static/images/Logo.png">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/styles/HomeScreenStyle.css">
</head>

<body>
    <div class="header">
        <nav>
            <img src="static/images/Logo.png" alt="LogoWhite">
            <h1> iBills </h1>
            <ul class="nav-links">
                <li><a class="active" href="/">Home</a></li>
                <li><a href="/AboutScreen">About</a></li>
                <li><a href="/ServicesScreen">Services</a></li>
                <li><a href="/ContactsScreen">Contact</a></li>
            </ul>
        </nav>
        <div class="content">
            <img src="static/images/HomeScreenImage.jpg" alt="BgImage">
            <h1>Online</h1>
            <h2>Bills Payment</h2>
            <p>With iBills, you can pay and secure your bills in one place! 
                <br>Everything's online. No need to queue in lines 
                <br>or go outside the house! Manage your bills conveniently.</p>
        </div>
        <div class="signUp">
            <a href="/SignUpScreen">
            <button class="signUpButton"><i class="fa fa-edit"></i> Sign Up </button>
            </a>
        </div>
        <div class="signIn">
            <p>already have an account?</p>
            <a href="/SignInScreen">Sign In</a>
        </div>
    </div>
</body>