<head>
    <title>My Profile</title>
    <link rel="icon" type="image/jpg" href="static/images/Logo.png">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="static/styles/ProfileScreenStyle.css">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
    
<body style="font-family: poppins;">
    
    <div id="side-menu" class="sideMenu">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div class="mainMenu">
            <a href="/MainMenuScreen"><i class="fa fa-desktop"></i>Dashboard</a>
            <a href="/ProfileScreen"><i class="fa fa-address-card-o"></i>Profile</a>
            <a href=""><i class="fa fa-bell-o"></i>Notifications</a>
            <a href=""><i class="fa fa-headphones"></i>Support</a>
            <hr>
            <a href=""><i class="fa fa-cogs"></i>Settings</a>
            <a href=""><i class="fa fa-question-circle-o"></i>Help</a>
            <a href="/"><i class="fa fa-sign-out"></i>SIGN OUT</a>
        </div>
    </div>

    <div id="menu-area">
        <span class="menuBar" style="font-size: 1.75rem; cursor: pointer" onclick="openNav()"> &#9776; </span>
            <div class="logo">
                <img src="static/images/Logo.png" alt="LogoWhite" class="logoImg">
                <h1> iBills </h1>
    </div>

    <div class="name">
        <div class="nameIcon">
            <p class="userName">{{currentlyLoggedIn['firstName']}} {{currentlyLoggedIn['lastName']}}</p>
            <img src="static/images/UserIcon.png" class="userIcon">
        </div>

        <p class="unknownLabel">{{currentlyLoggedIn['id']}}</p>
        
    </div>  

    <script>
        function edit() {
            document.getElementById('FirstName').readOnly = false;
            document.getElementById('LastName').readOnly = false;
            document.getElementById('Contact').readOnly = false;
            document.getElementById('Address').readOnly = false;
            document.getElementById('Email').readOnly = false;
            document.getElementById('Birthday').readOnly = false;
            document.getElementById('password').readOnly = false;

            document.getElementById("confirmLabel").style.visibility = "visible";
            document.getElementById("confirmInput").style.visibility = "visible";
            document.getElementById("save").style.visibility = "visible";
        }

    </script>

    <div>
        <p class="myProfileLabel">My Profile</p>
        <p class="lineDesign">____________________________________________________________________________________________________________________________________________</p>
        <p class="userInformationLabel">User Information</p>
        <p class="noticeLabel">Here you can edit public information about yourself. <br> The changes will be displayed immediately</p>
        <img src="static/images/PencilEditIcon.png" type="button" class="pencilIcon" onclick="edit()">

        <div class ="alerts">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <span>{{ message }}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
    </div>

    <div>
        <form action="/ProfileScreen" method="POST">
            <p class="firstNameLabel">First Name</p>
            <input type="text" class="firstNameInput" id="FirstName" name="firstName" readonly value="{{currentlyLoggedIn['firstName']}}" required minlength="2">

            <p class="lastnameLabel">Last Name</p>
            <input type="text" class="lastnameInput" id="LastName" name="lastName" readonly value="{{currentlyLoggedIn['lastName']}}" required minlength="2">

            <p class="contactNumberLabel">Contact No.</p>
            <input type="tel" class="contactNumberInput" id="Contact" name="contactNo" readonly value="{{currentlyLoggedIn['contactNo']}}" required minlength="2">

            <p class="addressLabel">Address</p>
            <input class="addressInput" id="Address" name="address" readonly value="{{currentlyLoggedIn['address']}}" required minlength="2">

            <p class="emailLabel">Email Address</p>
            <input type="email" class="emailInput" id="Email" name="emailAddress" readonly value="{{currentlyLoggedIn['emailAddress']}}" required minlength="2">

            <p class="birthdayLabel">Birthdate</p>
            <input type="date" class="birthdayInput" id="Birthday" name="birthday" readonly value="{{currentlyLoggedIn['birthday']}}">

            <p class="passwordLabel">Password</p>
            <input type="password" class="passwordInput" id="password" name="password" readonly value="" required minlength="2">

            <div>
                <p class="confirmpassLabel" id="confirmLabel" style="visibility: hidden;">Confirm Password</p>
                <input type="password" class="confirmpassInput" id="confirmInput" name="confirmPassword" style="visibility: hidden;">
            </div>
        
            <input type="submit" class="saveButton" style="visibility: hidden;" id="save" value="Save Changes">
        </form>
    </div>
    
    <script>
        function openNav(){
            document.getElementById("side-menu").style.width = "250px";
            document.getElementById("menu-area").style.marginLeft = "50px";
        }

        function closeNav(){
            document.getElementById("side-menu").style.width = "0";
            document.getElementById("menu-area").style.marginLeft = "0";
        }
    </script>
</body>