<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Services</title>
    <link rel="icon" type="image/jpg" href="static/images/Logo.png">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/styles/ServicesScreenStyle.css">
</head>
<body>
    <div class="header">
        <nav>
            <img src="static/images/Logo.png">
            <h1>iBills</h1>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/AboutScreen">About</a></li>
                <li><a class="active" href="/ServicesScreen">Services</a></li>
                <li><a href="/ContactsScreen">Contact</a></li>
            </ul>
        </nav>
    <div class="content">   
        <img src="static/images/ServicesImg.png">
        <h1>Services</h1>
        <h2>Offered</h2>
        <b>Pay Bills in an All-in-One Platform</b>
        <b2>Organize Bills</b2>
        <b3>View Bill Transaction History</b3>
        <b4>Wide Variety of Payment Options</b4>
    </div>
</body>