*{
    padding: 0;
    margin: 0;
}

.fa-trash-o{
    font-size: 24px;
}

.alerts{
    position: absolute;
    top: 5%;
    left: 65%;
    padding-bottom: 92%;
}

body{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
}

.sideMenu{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: lightgray;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 6.25rem;
}

.menuBar{
    display: inline-flex;
    padding-left: 3rem;
}

.logo img{
    position: relative;
    height: 2.813rem;
    width: 3.5rem;
    top: -2.25rem;
    left: 3rem;
    display: inline-flex;
}

.logo h1{
    position: relative;
    top: -2rem;
    left: 12rem;
    text-decoration: none;
    color: #2c245f;
    font-size: 1.75rem;
    float: left;
    display: inline-flex;
}

.name{
    display: block;
}

.userName{
    position: absolute;
    display: block;
    font-weight: bold;
    font-size: 1.875rem;
    top: 4%;
    left: 69%;
    width: 20%;
    text-align: right;
}

.unknownLabel{
    position: absolute;
    display: block;
    color: gray;
    font-size: 1.188em;
    top: 9%;
    left: 87.5%;
}

.userIcon{
    height: 7.5%;
    width: 4%;
    position: absolute;
    display: block;
    top: 4%;
    left: 90%;
}

.main-menu h2{
    text-align: center;
    letter-spacing: 7px;
    color: #fff;
    background-color: #111;
    padding: 20px 0;
}

.sideMenu a{
    padding: 0.5rem 0.5rem 0.5rem 1.75rem;
    text-decoration: none;
    color: white;
    display: block;
    transition: 0.3s;
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: bold;
    
}

.sideMenu a i{
    padding-right: 10px;
}

.main-menu a:hover{
    color: white;
    background: lightgray;

}

.sideMenu .closebtn{
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 36px;
    margin-left: 50px;
}

#menu-area{
    transition: margin-left .5s;
    padding: 16px;
    display: inline-block;
    padding: 30px 50px;
    width: 100%;
    height: 3.50rem;
}

.content {
    height: 100%;
    width: 60%;
    bottom: 10%;
    position: fixed;
    z-index: 0;
    top: 100px;
    overflow-x: hidden;
    padding-top: 20px;
  }

  
.left {
    left: 0;
  
  }
  .left h1{
    position: relative;
    font-size: 26px;
    left: 100px;
    top: 75px;
  }
  .userAccHeader{
    position: fixed;
    display: inline-flex;
    background: #dadada;
    top: 250px;
    left: 5%;
    min-width: 980px;
    min-height: 30px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    }
    .headerUserText1{
        position: relative;
        margin: 10px 25px;
    }
    .headerUserText2{
        position: relative;
        margin: 10px 40px;
    }
    .headerUserText3{
        position: relative;
        margin: 10px 40px;
    }
    .headerUserText4{
        position: relative;
        margin: 10px 40px;
    }
    .headerUserText5{
        position: relative;
        margin: 10px 75px;
    }

    ::-webkit-scrollbar {
        width: 10px;
        border-radius: 10px;
      }
      ::-webkit-scrollbar-thumb {
        background: #888; 
        border-radius: 10px;
      }
      ::-webkit-scrollbar-thumb:hover {
        background: #555; 
      }

    .areaLeft{
        position: absolute;
        top: 20%;
        left: 8%;
        height: auto;
        width: 88%;
        overflow-y: allow;
    }
    .userAccountContent{
        position: relative;
        display: inline-flex;
        min-width: 900px;
        min-height: 60px;
        border-radius: 10px;
        border: darkgray solid 3px;
        color: black;
    }
    .leftText1{
        position: relative;
        margin: 10px 0px;
        width: 100px;
        border: none;
        outline: none;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
    }
    .leftText2{
        position: relative;
        margin: 10px 0px;
        width: 170px;
        border: none;
        outline: none;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
    }
    .leftText3{
        position: relative;
        margin: 10px 0px;
        width: 155px;
        border: none;
        outline: none;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
    }
    .leftText4{
        position: relative;
        margin: 10px 0px;
        width: 170px;
        border: none;
        outline: none;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
    }
    .leftText5{
        position: relative;
        margin: 10px 0px;
        width: 260px;
        border: none;
        outline: none;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
    }
    .leftButton{
        position: relative;
        margin: 10px 0px;
        width: 125px;
        border: none;
        outline: none;
        font-size: 16px;
        font-weight: bold;
        background:none;
    }
    
.right {
    right: -380px;
  }

  .right h1{
    position: relative;
    font-size: 26px;
    top: 75px;
  }
  .billerHeader{
    position: fixed;
    display: inline-flex;
    background: #dadada;
    top: 250px;
    left: 60%;
    min-width: 600px;
    min-height: 30px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    }
    .headerBillerText1{
        position: relative;
        margin: 10px 10px;
    }
    .headerBillerText2{
        position: relative;
        margin: 10px 60px;
    }
    .headerBillerText3{
        position: relative;
        margin: 10px 40px;
    }

    ::-webkit-scrollbar {
        width: 10px;
        border-radius: 10px;
      }
      ::-webkit-scrollbar-thumb {
        background: #888; 
        border-radius: 10px;
      }
      ::-webkit-scrollbar-thumb:hover {
        background: #555; 
      }

    .areaRight{
        position: absolute;
        top: 20%;
        left: 0%;
        height: auto;
        width: 610px;
        overflow-y: allow;
    }
    .billProviderContent{
        position: relative;
        display: inline-flex;
        min-width: 600px;
        min-height: 60px;
        border-radius: 10px;
        border: darkgray solid 3px;
        color: black;
    }
    .rightText1{
        position: relative;
        margin: 10px 0px;
        width: 75px;
        border: none;
        outline: none;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
    }
    .rightText2{
        position: relative;
        margin: 10px 0px;
        width: 250px;
        border: none;
        outline: none;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
    }
    .rightText3{
        position: relative;
        margin: 10px 0px;
        width: 165px;
        border: none;
        outline: none;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
    }
    .rightButton{
        position: relative;
        margin: 10px 0px;
        width: 60px;
        border: none;
        outline: none;
        font-size: 16px;
        font-weight: bold;
        background:none;
    }

  .bottom{
    left: 0px;
    width: 100%;
    bottom: 0;
    top: 840px;
    background-color: #b5b5b5;
  }

  .createAccButton{
    position: relative;
    background-color: #77b5ff;
    color: white;
    border-radius: 10px;
    text-align: center;
    top: -10px;
    right: 130px;
    width: 20%;
    height: 50px;
    font-size: 18px;
    float: right;
    box-shadow: 5px 5px 5px gray;
    border: none;
    cursor: pointer;
  }