.blueContainer{
    position: absolute;
    top: -0.1%;
    left: -0.1%;
    height: 100.1%;
    width: 35%;
    background-color: #4eaafc;
}

.alerts{
    position: absolute;
    top: 5%;
    left: 59.5%;
    right: 8%;
}

.contentPharagraph{
    position: absolute;
    top: 20%;
    left: 15%;
    color: white;
    font-size: 28px;
    font-family: Poppins;
    line-height: 30px;
    animation: fadeIn 2s;
}

.contentiBills{
    position: absolute;
    font-family: poppins;
    font-weight: bold;
    left: 28%;
    top: 4%;
    color: white;
    font-size: 28px;
    font-family: Poppins;
    line-height: 30px;
    
}

.contentRegisterPanel{
    position: absolute;
    top: -0.1%;
    height: 100%;
    width: 59.6%;
    left: 40.3%;
    
}

.contentDetails{
    position: absolute;
    font-weight: bold;
    color: #2c245f;
    font-family: poppins;
    font-size: 14px;
}

.contentSignIn{
    position: absolute;
    font-weight: bold;
    color: #4eaafc;
    font-family: poppins;
    font-size: 14px;
    height: 3%;
    width: 8%;
    background-color: white;
    border: 0;
}

.contentPolicy{
    position: absolute;
    color: gray;
    font-family: poppins;
    font-size: 12px;
}

.contentInput{
    position: absolute;
    border-radius: 6px;
    border-color: gray;
    outline: 0;
    height: 5%;
    width: 42%;
    font-family: poppins;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;

}

.contentButton{
    background-color: #4eaafc;
    border-color: #4eaafc;
    color: white;
    border-radius: 7px;
    height: 5%;
    width: 20%;
    font-family: poppins;
    position: absolute;
}

@keyframes fadeIn{
0% {opacity: 0;}
100% {opacity: 1}
}